<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/selectable.css' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="border-radius: 17px;height:100%;width:20%;background-image: url(/images/sidemenubg.png);position: fixed;"></div>
    <img style="position: fixed;margin-left: 6%;width:100px;height: 100px;margin-top: 8%;" src="/images/Profile.png">
    <a href="#"><img src="/images/Logo.png"
            style="position: fixed;margin-top: 20px;margin-left: 20px;width: 75px;height: 75px;"></a>
    <img src="/images/dashboardlogo.png" style="position: fixed;margin-top: 20%;margin-left: 2.5%;">
    <h3 style="margin-top: 20%;margin-left: 6%;position: fixed;"><a href="/waiter">Dashboard</a></h3>
    <img src="/images/tableicon.png" style="position: fixed;margin-top: 26.75%;margin-left: 2%;width: 2.8%;height: 5%;">
    <h3 style="margin-top: 27%;margin-left: 6%;position: fixed;">Order</h3>
    <img src="/images/logouticon.png" style="position: fixed;margin-top: 34.25%;margin-left: 3%;width: 1.5%;height: 2.5%;">
    <h3 style="margin-top: 34%;margin-left: 6%;position: fixed;">Sign out</h3>
    <h1 style="position: absolute;margin-top:1%;margin-left:52.5%;color:#0076FF;">Select Table</h1>

    <a href="/waiter/menu"><img src="/images/Group 28.jpg" style="margin-top:8%;margin-left: 26%;position: absolute;height:20%"></a>
    <img src="/images/Group 27.jpg" style="margin-top:8%;margin-left: 46%;position: absolute;height:20%;width:11%"></a>
    <img src="/images/Group 26.jpg" style="margin-top:8%;margin-left: 66%;position: absolute;height:20%"></a>
    <img src="/images/Group 28.jpg" style="margin-top:8%;margin-left: 86%;position: absolute;height:20%"></a>

    <img src="/images/Group 27.jpg" style="margin-top:21%;margin-left: 26%;position: absolute;height:20%;width:11%"></a>
    <img src="/images/Group 26.jpg" style="margin-top:21%;margin-left: 46%;position: absolute;height:20%"></a>
    <img src="/images/Group 26.jpg" style="margin-top:21%;margin-left: 66%;position: absolute;height:20%"></a>
    <img src="/images/Group 28.jpg" style="margin-top:21%;margin-left: 86%;position: absolute;height:20%"></a>

    <img src="/images/Group 28.jpg" style="margin-top:35%;margin-left: 26%;position: absolute;height:20%"></a>
    <img src="/images/Group 28.jpg" style="margin-top:35%;margin-left: 46%;position: absolute;height:20%"></a>
    <img src="/images/Group 26.jpg" style="margin-top:35%;margin-left: 66%;position: absolute;height:20%"></a>
    <img src="/images/Group 26.jpg" style="margin-top:35%;margin-left: 86%;position: absolute;height:20%"></a>


</body>

</html>