body {
  padding-left: 5%;
  padding-top: 0%;
  font-size: 14px ;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/background.jpg");  
  height:100%;
}
.container,.myCarousel a {
  color: #00B7FF;
}
#logo{
  margin-left: 65%;
}
#upperhalf{
  margin-left:56%
}
#lowerhalf{
  margin-left:56%
}
#name{
  margin-left: 65%;
  border:none;
}
#pwd{
  margin-left: 65%;
  border:none;
}
#username{
  margin-left:56%
}
#password{
  margin-left:56%
}
#login{
  margin-left: 64%;
}
#ptag{
  margin-left:56%;
}
#ptag a{
  text-decoration: none;
  color: blue;
}
#ptag a:hover{
  color: #F9BE32;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
a{
  cursor: pointer;
}
#error{
  margin-left: 62%;
}