body {
  padding-left: 5%;
  padding-top: 0%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-image: url("background.jpg");
  height: 100%;
}

.container,
.myCarousel a {
  color: #00B7FF;
}

#logo {
  margin-left: 65%;
}

#upperhalf {
  margin-left: 56%
}

#lowerhalf {
  margin-left: 56%
}

#name {
  margin-left: 65%;
  border: none;
}

#pwd {
  margin-left: 65%;
  border: none;
}

#username {
  margin-left: 56%
}

#password {
  margin-left: 56%
}

#login {
  margin-left: 64%;
}

input {
  border: none;
}
input:focus{
  outline: none;
}